{% extends 'layouts/default.html' %}

{% block content %}
        <div id="wrapper">
            <header>
                <h1>NX.ie <span>|</span> url shortener</h1>
            </header>
            <div id="form-box">
                <form action="/add/" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div id="main-options">
                        <input type="text" name="link" id="link-input" placeholder="http://google.com (required)">
                        <input type="submit" id="form-submit" value="Shrink">
                    </div>
                    <div id="extra-options">
                        <input type="text" name="identifier" id="identifier-input" placeholder="name">
                        <!--
                        <input type="text" name="extension" id="extension-input" placeholder="extension">
                        -->
                    </div>
                </form>
            </div>
        </div>
{% endblock %}