body {
    background:url('/static/img/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font:14px 'Lato';
}

#wrapper {
    width:467px;
    height:304px;
    margin:auto;
    top:0;left:0;right:0;bottom:0;
    position:absolute;
}

input[type=text] {
    width: 70%;
    float: left;
    background: rgba(14, 14, 14, 0.39);
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    border-bottom: 3px solid rgba(216, 216, 216, 1);
    margin: 0;
    color:white;

}

input[type=text]:focus, input[type=submit]:focus {
    outline:none;
}

input[type=text].error {
    border-color:#f75e5e !important;
}
input[type=submit] {
    font-weight:900;
    width: 20%;
    background: #03b36a;
    display: inline-block;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 19px;
    border: none;
    border-left: 2px solid #d8d8d8;
    border-bottom: 3px solid #d8d8d8;
    cursor:pointer;
}

input[type=submit]:active {
    border-color:rgba(255,255,255,0.8);
    background:#03b36a;
}

input[type=submit]:hover {
    background:#33966d;
}

input[type=submit].loading {
    background-image:url(/static/img/rolling.gif);
    background-position: 29px 17px;
    background-size: 31%;
    background-repeat:no-repeat;
}
input[type=submit].success, input[type=submit].loading {
    color: transparent;
    background-color:white !important;
}

input[type=submit].success {
    background-image: url(/static/img/tick.png);
    background-position: 20px 11px;
    background-repeat: no-repeat;
    background-size: 47%;
}
#form-box {
    padding: 25px;
    margin-top: 10px;
    padding-bottom: 57px;
    background: rgba(115, 115, 115, 0.45);
    outline: 5px solid rgba(158, 158, 158, 0.42)
}

button {
    display:none;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-top: 8px solid #f00;
}


#main-options {
    width:100%;
}

h1 {
    color:#525252;
    text-align:center;
    margin:0;
}

h1 span {
    color: rgba(82, 82, 82, 0.25);
    font-weight: 100;
    font-size: 38px;
}

#main-options input[type=text] {
    border-bottom-left-radius: 0;
    width:72.8%;
}

#extra-options input[type=text] {
    padding: 6px 0px 6px 12px;
    width: 30%;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgba(255,255,255,0.8);
    font-size:15px;

    border-top-left-radius:0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}/*
#extra-options input[type=text]:first-child {
    border-top-left-radius:0;
}
#extra-options input[type=text]:last-child {
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:5px;
}*/


input[type=text]:focus {
    border-color:rgba(255,255,255,0.8) !important;
}